@import 'fonts';
@import 'animations';
@import 'index';
@import 'utils';

a {
    color: black;
    &:hover {
        color: gray;
        text-decoration: none;
    }
}

#footer {
    position: fixed;
    font-size: 1rem;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    margin-bottom: 0rem;
    z-index: 5;
}